node_modules
.next/
*.exe
*.zip
python-backend/ffmpeg-master-latest-win64-gpl/
python-backend/__pycache__/
python-backend/storage/
python-backend/venv/
*.pyc
playwright-report/
test-results/
backend-restart.log
backend-restart.err

